.cell {
    border:1px black solid;
    height: 10px;
    width: 10px;
    margin: 0px;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.snake {
    background-color: darkslategray;
}

.dot {
    background-color: darkslategray;
}